:root {
    --kek: #a2c2d768;
    --feher: #F4F5F9;
    --szen: #2E3A42;
}

/* Navbar stílus */
.navbar {
    background-color: var(--kek);
    box-shadow: 10px 10px 100px;
}

.navbar-nav .nav-link {
    color: var(--feher) !important;
    text-shadow: black 1px 1px 1px;
}

.navbar-nav .nav-link:hover {
    color: var(--szen) !important;
    background-color: rgba(255, 255, 255, 0.278);
}

.navbar-brand {
    color: var(--feher) !important;
    font-weight: bold;
    text-shadow: #2E3A42 2px 2px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }