body{
    background-image: url("./kepek/hatter.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}
:root {
    --kek: #a2c2d768;
    --feher: #F4F5F9;
    --szen: #2E3A42;
}

/* Navbar stílus */
.navbar {
    background-color: var(--kek);
}

.navbar-nav .nav-link {
    color: var(--feher) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--szen) !important;
    background-color: rgba(255, 255, 255, 0.278);
}

.navbar-brand {
    color: var(--feher) !important;
    font-weight: bold;
    text-shadow: #2E3A42 2px 2px;
}